<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Articles List</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/js/darkmode.js"></script>
</head>
<body>
<div class="wrapper">
    <nav class="navbar">
        <a class="navbar-brand" href="/articles">Home</a>
        <a class="nav-link" href="/articles/new">New Article</a>
        <a class="nav-link" href="/articles/about">About</a>
        <div class="ml-auto">
            <label class="switch">
                <input type="checkbox" id="darkModeToggle" onchange="toggleDarkMode()">
                <span class="slider round"></span>
            </label>
        </div>
    </nav>
    <div class="container mt-4 content">
        <h1>List of Articles</h1>
        <table class="table">
            <thead>
            <tr>
                <th>Title</th>
                <th>Reporter</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="article : ${articles}">
                <td th:text="${article.title}">Title</td>
                <td th:text="${article.reporter}">Reporter</td>
                <td>
                    <a th:href="@{/articles/{id}(id=${article.id})}" class="btn btn-info">Details</a>
                    <a th:href="@{/articles/delete/{id}(id=${article.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
        <a href="/articles/new" class="btn btn-primary">Add New Article</a>
    </div>
    <footer class="footer">
        <div class="container text-center">
            <p>&copy; 2024 De Anderlechtse Gazet</p>
        </div>
    </footer>
</div>
</body>
</html>
