<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Articles List</title>
</head>
<body>
<h1>List of Articles</h1>
<table>
    <tr>
        <th>Title</th>
        <th>Reporter</th>
        <th>Actions</th>
    </tr>
    <tr th:each="article : ${articles}">
        <td th:text="${article.title}">Title</td>
        <td th:text="${article.reporter}">Reporter</td>
        <td>
            <a th:href="@{/articles/{id}(id=${article.id})}">Details</a>
            <a th:href="@{/articles/delete/{id}(id=${article.id})}">Delete</a>
        </td>
    </tr>
</table>
<a href="/articles/new">Add New Article</a>
</body>
</html>
